.experience__section {
    height: 50vh;
    width: 100%;
    background-color: $base-color;
    padding: 4rem 4rem;
}

.experience__page {
    display: grid;
    line-height: 2.5rem;
    color: $white;

    @media (min-width: 400px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    @media (min-width: 600px) {
        padding: 0 14rem;
        width: 100%;
        column-gap: 0;
    }

    @media (min-width: 900px) {
        padding: 0 20rem;
    }

    @media (min-width: 1200px) {
        padding: 0 40rem;
    }

    &-title {
        font-size: 1.6rem;
        color: $skyblue-color;
        font-weight: bold;
        align-self: center;
        text-transform: uppercase;
        padding: 4rem 0;


        @media (min-width: 900px) {
            padding: 4rem 4rem;
        }

        @media(min-width: 1200px) {
            padding: 4rem 23rem;
        }
    }

    &-first {
        font-size: 1.4rem;
        font-weight: bold;
        color: $red-color;
    }

    &-year {
        font-size: 1.1rem;

        @media(min-width: 400px) {
            text-align: center;
        }

        @media(min-width: 1200px) {
            text-align: end;
        }

        #date {
            color: $red-color;
        }
    }

    &-profile {
        font-size: 1.2rem;
        color: $white;
    }
}


.resume {
    display: grid;
    padding: 6rem 0;
}

.my__resume-link {
    font-size: 1.6rem;
    transition: all .5s ease-in-out;

    a {
        text-decoration: none;
        color: $red-color;
    }

    .resume__ec {
        padding-left: 1rem;
        font-size: 2rem;
    }

    &:hover {
        transform: translatey(-.5rem);
    }

    @media (min-width: 600px) {
        padding-left: 14rem;
    }

    @media (min-width: 900px) {
        padding-left: 20rem;
    }

    @media (min-width: 1200px) {
        padding-left: 40rem;
    }
}