.projects__section {
    height: 100%;
    background-color: $white;
}

.projects__page {

    &-title {
        font-size: 1.6rem;
        font-weight: bold;
        color: $skyblue-color;
        text-transform: uppercase;
        padding: 5rem 4rem 0;

        @media (min-width: 900px) {
            padding: 0 8rem;
        }

        @media (min-width: 1200px) {
            padding: 0 28rem;
        }
    }
}

.projects {
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: minmax(repeat(3, 1fr));

    &-1-title {
        font-size: 1.4rem;
        align-self: center;
        font-weight: bold;
        padding: 1rem 0;
        color: $red-color;
    }

    &-1-description {
        font-size: 1.2rem;
        line-height: 2rem;
        color: #393e46;
    }

    &-1-tools {
        padding: 1rem 0;
    }

    .tools {
        display: inline-block;
        border: .15rem solid $red-color;
        border-radius: 5%;
        width: 3.2rem;
        margin: 0 .5rem;
        padding: 0 1rem;
        color: $red-color;
        margin-bottom: 4rem;

        &:nth-child(3) {
            width: 7rem;
        }

        &:nth-child(2) {
            width: 5rem;
        }

        &:nth-child(1) {
            width: 5rem;
            margin: 0;
        }

        &__css {
            display: inline-block;
            border: .15rem solid $red-color;
            border-radius: 5%;
            width: 4.4rem;
            margin: 0 .5rem;
            padding: 0 1rem;
            color: $red-color;
        }
    }

    &-bold {
        font-weight: bold;
    }

    .ec {
        font-size: 2rem;
        margin: 0 1rem;
    }

    @media (min-width: 600px) {
        padding: 2rem 17rem;
    }

    @media(min-width: 700px) {
        padding: 2rem 16rem;
    }

    @media(min-width: 900px) {
        padding: 2rem 23rem;
    }

    @media (min-width: 1200px) {
        padding: 2rem 43rem;
    }
}
