.projects {
  padding: 0 4rem;
  height: 100%;
  width: 100%;

  &__page,
  .title {
    text-transform: uppercase;
    color: $skyblue-color;
    letter-spacing: 0.1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;

    @media (min-width: 400px) {
      padding-left: 0;
    }

    @media (min-width: 900px) {
      padding-left: 2rem;
    }

    @media (min-width: 1200px) {
      padding-left: 11.5rem;
    }
  }

  &__title {
    padding: 1rem 0;
    color: $skyblue-color;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      text-transform: uppercase;
      color: $skyblue-color;
      letter-spacing: 0.1rem;
      padding-top: 4rem;
      padding-bottom: 2rem;
      font-size: 1.4rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium) {
      flex-direction: row-reverse;
    }

    &-content,
    .container {
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      width: 100%;

      @include breakpoint(medium) {
        flex-basis: 0;
        flex-grow: 1;
      }

      &__description {
        display: none;
        color: $white;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        line-height: 3rem;
        text-align: center;

        @include breakpoint(medium) {
          margin: 0 3rem;
          font-size: 1.4rem;
        }
      }

      &__description.hide {
        display: flex;
        width: 100%;
      }

      &__lang,
      .lang {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, auto));
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        &-content {
          text-align: center;
          margin: .5rem 2rem;
          padding: 0.4rem 0.8rem;
          border: 1px solid $red-color;
          color: $white;
        }
      }

      &__buttons,
      .btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 3rem;

        &__page {
          text-decoration: none;
          color: $white;
          font-size: 1.2rem;
        }

        // visit btn
        &-visit {
          border: 1px solid $skyblue-color;
          border-radius: 2rem;
          padding: 1rem 3rem;

          &:hover {
            background-color: $skyblue-color;
          }
        }

        &-source {
          border: 1px solid $white;
          border-radius: 2rem;
          padding: 1rem 3rem;

          &:hover {
            background-color: $white;
            color: $black-color;
          }
        }
      }
    }

    &-img,
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// read more btn
.container__btn {
  width: 10rem;
  margin: 0 auto;
  padding: .5rem .8rem;
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  color: $skyblue-color;
  font-size: 1.4rem;

  &:focus {
    outline: 0;
  }
}