*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: #161a20;
}

.nav__toggle {
  width: 4rem;
  height: 4rem;
  background-color: #00adb5;
  border-radius: 50%;
  border: 0.5px solid #00adb5;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 4rem;
  z-index: 1;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}

.nav__toggle .lines {
  margin-top: 1.2rem;
  margin-left: .8rem;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.nav__toggle .lines.is-active .line-1 {
  opacity: 0;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.nav__toggle .lines.is-active .line-2 {
  -webkit-transform: translateY(0.2rem) rotate(35deg);
          transform: translateY(0.2rem) rotate(35deg);
}

.nav__toggle .lines.is-active .line-3 {
  -webkit-transform: translateY(-0.4rem) rotate(-35deg);
          transform: translateY(-0.4rem) rotate(-35deg);
}

.nav__toggle .line {
  display: block;
  max-width: 2.2rem;
  height: .2rem;
  border-radius: 2rem;
  background-color: #eeeeee;
  margin-bottom: .4rem;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.nav__toggle .line:nth-child(1) {
  max-width: 1.4rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  list-style: none;
  background-color: #161a20;
  position: fixed;
  z-index: 1;
  top: -120%;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.nav__links a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav__links.open {
  height: 100vh;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first__section {
  height: 100%;
  width: 100%;
  padding: 2rem 1rem;
}

.first__section .arrow {
  position: absolute;
  top: 95%;
  right: 50%;
}

.first__section .arrow a {
  text-decoration: none;
  color: #eeeeee;
}

@media (min-width: 414px) {
  .first__section {
    padding: 0 1rem;
  }
}

.first__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  color: #eeeeee;
  padding: 0 1rem;
  -webkit-animation-name: pageEffect1;
          animation-name: pageEffect1;
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes pageEffect1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageEffect1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.first__page .bold {
  font-weight: bold;
  color: #00adb5;
}

.first__page #mail {
  font-weight: normal;
  cursor: pointer;
  border-bottom: 1px solid #00adb5;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.first__page #mail a {
  text-decoration: none;
  color: #eeeeee;
}

.first__page #mail:hover {
  background-color: #00adb5;
}

.first__page .ec {
  padding: 1rem 1rem;
}

.first__page-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.6rem;
  line-height: 4rem;
  padding: 0 1rem;
}

.first__page-text3 {
  font-size: 1.4rem;
}

@media (min-width: 320px) {
  .first__page-item {
    padding: 0 2rem;
    font-size: 2.5rem;
    line-height: 4.3rem;
  }
  .first__page-text3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 375px) {
  .first__page-item {
    font-size: 2.9rem;
    width: 35rem;
    line-height: 4rem;
  }
  .first__page-text3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 414px) {
  .first__page-item {
    padding: 0 3rem;
    width: 40rem;
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .first__page-text3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 600px) {
  .first__page-item {
    padding: 1rem 5rem;
    width: 65rem;
    font-size: 3.3rem;
    line-height: 4.5rem;
  }
  .first__page-text3 {
    font-size: 1.8rem;
  }
}

@media (min-width: 900px) {
  .first__page-item {
    padding: 1rem 10rem;
    width: 75rem;
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .first__page-text3 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .first__page-item {
    padding: 1rem 14rem;
    width: 90rem;
    font-size: 3.8rem;
    line-height: 5.5rem;
  }
  .first__page-text3 {
    font-size: 2.3rem;
  }
}

.about__section {
  height: 100%;
  width: 100%;
}

.about__page {
  display: -ms-grid;
  display: grid;
  padding: 10rem 4rem;
  row-gap: 3rem;
}

@media (min-width: 600px) {
  .about__page {
    -ms-grid-columns: 10rem 1fr;
        grid-template-columns: 10rem 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media (min-width: 900px) {
  .about__page {
    -ms-grid-columns: 10rem 1fr;
        grid-template-columns: 10rem 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 10rem 10rem;
    width: 100rem;
  }
}

@media (min-width: 1200px) {
  .about__page {
    -ms-grid-columns: 10rem 1fr;
        grid-template-columns: 10rem 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 15rem 30rem;
    width: 100%;
  }
}

.about__me {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.6rem;
  color: #00adb5;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 600px) {
  .about__me {
    margin: 0 auto;
  }
}

.about__description {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #eeeeee;
  line-height: 3.5rem;
}

.bold {
  font-weight: bold;
}

.experience__section {
  height: 50vh;
  width: 100%;
  padding: 4rem 4rem;
}

.experience__page {
  display: -ms-grid;
  display: grid;
  line-height: 2.5rem;
  color: #eeeeee;
}

@media (min-width: 400px) {
  .experience__page {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media (min-width: 600px) {
  .experience__page {
    padding: 0 14rem;
    width: 100%;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

@media (min-width: 900px) {
  .experience__page {
    padding: 0 20rem;
  }
}

@media (min-width: 1200px) {
  .experience__page {
    padding: 0 40rem;
  }
}

.experience__page-title {
  font-size: 1.6rem;
  color: #00adb5;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  padding: 4rem 0;
}

@media (min-width: 900px) {
  .experience__page-title {
    padding: 4rem 4rem;
  }
}

@media (min-width: 1200px) {
  .experience__page-title {
    padding: 4rem 23rem;
  }
}

.experience__page-first {
  font-size: 1.4rem;
  font-weight: bold;
  color: #e84545;
}

.experience__page-year {
  font-size: 1.1rem;
}

@media (min-width: 400px) {
  .experience__page-year {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .experience__page-year {
    text-align: end;
  }
}

.experience__page-year #date {
  color: #e84545;
}

.experience__page-profile {
  font-size: 1.2rem;
  color: #eeeeee;
}

.resume {
  display: -ms-grid;
  display: grid;
  padding: 6rem 0;
}

.my__resume-link,
.resume__ec {
  font-size: 1.6rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.my__resume-link:hover,
.resume__ec:hover {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.my__resume-link a,
.resume__ec a {
  text-decoration: none;
  color: #e84545;
}

.my__resume-link .resume__ec,
.resume__ec .resume__ec {
  padding-left: 1rem;
  font-size: 2rem;
}

@media (min-width: 600px) {
  .my__resume-link,
  .resume__ec {
    padding-left: 14rem;
  }
}

@media (min-width: 900px) {
  .my__resume-link,
  .resume__ec {
    padding-left: 20rem;
  }
}

@media (min-width: 1200px) {
  .my__resume-link,
  .resume__ec {
    padding-left: 40rem;
  }
}

.footer {
  padding: 6rem 0 0 0;
  height: 100%;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  text-align: center;
}

.footer__container-items {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.2rem;
  color: #00adb5;
  line-height: 2rem;
}

.projects {
  padding: 0 4rem;
  height: 100%;
  width: 100%;
}

.projects__page,
.projects h1 {
  text-transform: uppercase;
  color: #00adb5;
  letter-spacing: 0.1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

@media (min-width: 400px) {
  .projects__page,
  .projects h1 {
    padding-left: 0;
  }
}

@media (min-width: 900px) {
  .projects__page,
  .projects h1 {
    padding-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .projects__page,
  .projects h1 {
    padding-left: 11.5rem;
  }
}

.projects__title {
  padding: 1rem 0;
  color: #00adb5;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 10rem;
}

@media screen and (min-width: 899px) {
  .projects__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 10rem;
    padding-bottom: 10rem;
  }
}

.projects__container-content,
.projects__container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

@media screen and (min-width: 899px) {
  .projects__container-content,
  .projects__container .container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.projects__container-content__description,
.projects__container .container__description {
  color: #eeeeee;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  text-align: center;
}

@media screen and (min-width: 899px) {
  .projects__container-content__description,
  .projects__container .container__description {
    margin: 0 3rem;
    font-size: 1.4rem;
  }
}

.projects__container-content__lang,
.projects__container-content .lang,
.projects__container .container__lang,
.projects__container .container .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
}

.projects__container-content__lang-content,
.projects__container-content .lang-content,
.projects__container .container__lang-content,
.projects__container .container .lang-content {
  margin: .5rem 2rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid #e84545;
  color: #eeeeee;
}

.projects__container-content__buttons,
.projects__container-content .btn,
.projects__container .container__buttons,
.projects__container .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 3rem;
}

.projects__container-content__buttons__page,
.projects__container-content .btn__page,
.projects__container .container__buttons__page,
.projects__container .container .btn__page {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1.2rem;
}

.projects__container-content__buttons-visit,
.projects__container-content .btn-visit,
.projects__container .container__buttons-visit,
.projects__container .container .btn-visit {
  border: 1px solid #00adb5;
  border-radius: 2rem;
  padding: 1rem 3rem;
}

.projects__container-content__buttons-visit:hover,
.projects__container-content .btn-visit:hover,
.projects__container .container__buttons-visit:hover,
.projects__container .container .btn-visit:hover {
  background-color: #00adb5;
}

.projects__container-content__buttons-source,
.projects__container-content .btn-source,
.projects__container .container__buttons-source,
.projects__container .container .btn-source {
  border: 1px solid #eeeeee;
  border-radius: 2rem;
  padding: 1rem 3rem;
}

.projects__container-content__buttons-source:hover,
.projects__container-content .btn-source:hover,
.projects__container .container__buttons-source:hover,
.projects__container .container .btn-source:hover {
  background-color: #eeeeee;
  color: #333333;
}

.projects__container-img,
.projects__container img {
  width: 100%;
  height: 100%;
}

.skills__section {
  height: 100%;
  padding: 3rem 4rem;
}

.skills__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem 1fr;
      grid-template-columns: 15rem 1fr;
}

.skills__page-title {
  font-size: 1.6rem;
  color: #00adb5;
  text-align: start;
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 900px) {
  .skills__page-title {
    padding: 0 7rem;
  }
}

@media (min-width: 1200px) {
  .skills__page-title {
    padding: 0 28rem;
  }
}

.skills__page-skill {
  padding: 4rem 1rem;
  font-size: 1.2rem;
  color: #eeeeee;
}

@media (min-width: 400px) {
  .skills__page {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0 0rem;
  }
}

@media (min-width: 600px) {
  .skills__page {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 0 14rem;
  }
}

@media (min-width: 900px) {
  .skills__page {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 0rem 20rem;
  }
}

@media (min-width: 1200px) {
  .skills__page {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 0rem 40rem;
  }
}

.bold__white {
  font-weight: bold;
  color: #e84545;
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */